<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>图书阅读</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/AdminLTE.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
</head>
<body>
<div class="box-body">
    <div class="pull-right">
        <div class="has-feedback">
            <form th:action="@{/book/search}" method="post">
                图书名称：<input name="name">&nbsp;&nbsp;&nbsp;&nbsp;
                图书作者：<input name="author">&nbsp;&nbsp;&nbsp;&nbsp;
                <input class="btn btn-default" type="submit" value="查询">
            </form>
        </div>
    </div>
    <div class="table-box">
        <table id="dataList" class="table table-bordered table-striped table-hover text-center">
            <thead>
            <tr>
                <th>图书名称</th>
                <th>图书作者</th>
                <th>出版社</th>
                <th>图书状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="book : ${books}">
                <tr>
                    <td th:text="${book.name}"></td>
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.press}"></td>
                    <td>
                        <span th:if="${book.status == '0'}">可借阅</span>
                        <span th:if="${book.status == '1'}">借阅中</span>
                        <span th:if="${book.status == '2'}">归还中</span>
                    </td>
                    <td class="text-center">
                        <button th:if="${book.status == '0'}" type="button" class="btn bg-olive btn-xs"
                                th:onclick="'findBookById('+${book.id}+')'"> 借阅
                        </button>
                        <button th:if="${book.status == '1' || book.status == '2'}" type="button"
                                class="btn bg-olive btn-xs" disabled="disabled">借阅
                        </button>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
<script>
    // 修改为页面跳转，触发 Controller 的 redirect
    function findBookById(id) {
        window.location.href = "/book/find/" + id;
    }
</script>
</body>
</html>