<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>图书管理</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/AdminLTE.css}">
    <link rel="stylesheet" th:href="@{/css/pagination.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
</head>
<body>
<div class="box-body">
    <div class="pull-left" sec:authorize="hasAuthority('ROLE_ADMIN')">
        <div class="btn-group">
            <button th:onclick="'window.location.href=\''+@{jumpaddbook}+'\''" type="button" class="btn btn-default"> 新增
            </button>
        </div>
    </div>
    <div class="pull-right">
        <div class="has-feedback">
            <form th:action="@{/book/search}" method="post">
                图书名称：<input name="name">&nbsp;&nbsp;&nbsp;&nbsp;
                图书作者：<input name="author">&nbsp;&nbsp;&nbsp;&nbsp;
                <input class="btn btn-default" type="submit" value="查询">
            </form>
        </div>
    </div>
    <div class="table-box">
        <table id="dataList" class="table table-bordered table-striped table-hover text-center">
            <thead>
            <tr>
                <th>图书名称</th>
                <th>图书作者</th>
                <th>出版社</th>
                <th>价格</th>
                <th>图书状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="book : ${books}">
                <tr>
                    <td th:text="${book.name}"></td>
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.press}"></td>
                    <td th:text="${'￥' + (book.price != null ? book.price : '0.00')}"></td>
                    <td>
                        <span th:if="${book.status == '0'}" class="label label-success">可借阅/购买</span>
                        <span th:if="${book.status == '1'}" class="label label-warning">借阅中</span>
                        <span th:if="${book.status == '2'}" class="label label-info">归还中</span>
                        <span th:if="${book.status == '3'}" class="label label-danger">已售出</span>
                    </td>
                    <td class="text-center">
                        <button th:if="${book.status == '0'}" type="button" class="btn bg-olive btn-xs"
                                th:onclick="'borrowBook('+${book.id}+')'"> 借阅
                        </button>
                        <button th:if="${book.status != '0'}" type="button" class="btn bg-olive btn-xs" disabled="disabled">
                            借阅
                        </button>

                        <button th:if="${book.status == '0'}" type="button" class="btn btn-danger btn-xs"
                                th:onclick="'buyBook('+${book.id}+')'"> 购买
                        </button>
                        <button th:if="${book.status != '0'}" type="button" class="btn btn-danger btn-xs" disabled="disabled">
                            购买
                        </button>

                        <button sec:authorize="hasAuthority('ROLE_ADMIN')" type="button" class="btn bg-gray btn-xs"
                                th:onclick="'delBookById('+${book.id}+')'"> 删除
                        </button>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
<script>
    function borrowBook(id) {
        if(confirm("确定要借阅这本书吗？")) {
            window.location.href = "/book/borrow/" + id;
        }
    }

    function buyBook(id) {
        if(confirm("确定要购买这本书吗？这将生成订单。")) {
            window.location.href = "/book/buy/" + id;
        }
    }

    function delBookById(id) {
        if(confirm("确定删除吗？")) {
            window.location.href = "/book/del/" + id;
        }
    }

    // 兼容旧代码调用
    function findBookById(id) {
        borrowBook(id);
    }
</script>
</body>
</html>
}