<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>网上图书馆</title>
    <meta http-equiv="X-Frame-Options" content="SAMEORIGIN">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/AdminLTE.css}">
    <link rel="stylesheet" th:href="@{/css/_all-skins.min.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript">
        function SetIFrameHeight() {
            var iframeid = document.getElementById("iframe");
            if (document.getElementById) {
                iframeid.height = document.documentElement.clientHeight;
            }
        }
    </script>
</head>

<body class="hold-transition skin-green sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <a th:href="@{/}" class="logo">
            <span class="logo-lg"><b>网上图书馆</b></span>
        </a>
        <nav class="navbar navbar-static-top">
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a>
                            <img th:src="@{/img/user.jpg}" class="user-image" alt="User Image">
                            <span class="hidden-xs" sec:authentication="name">User</span>
                        </a>
                    </li>
                    <li class="dropdown user user-menu">
                        <a th:href="@{/logout}">
                            <span class="hidden-xs">注销</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu">
                    <li sec:authorize="hasAnyAuthority('ROLE_COMMON','ROLE_ADMIN')">
                        <a th:href="@{/book/list}" target="iframe">
                            <i class="fa fa-book"></i> <span>图书阅读</span> </a>
                    </li>

                    <li sec:authorize="hasAnyAuthority('ROLE_COMMON','ROLE_ADMIN')">
                        <a th:href="@{/consumer/order/view}" target="iframe">
                            <i class="fa fa-list-alt"></i> <span>我的订单</span>
                        </a>
                    </li>

                    <li sec:authorize="hasAnyAuthority('ROLE_COMMON','ROLE_ADMIN')">
                        <a th:href="@{/borrow/list}" target="iframe">
                            <i class="fa fa-bookmark"></i> <span>我的借阅</span>
                        </a>
                    </li>

                    <li sec:authorize="hasAuthority('ROLE_ADMIN')">
                        <a th:href="@{/book/admin/manag}" target="iframe">
                            <i class="fa fa-edit"></i> <span>图书管理</span>
                        </a>
                    </li>
                    <li sec:authorize="hasAnyAuthority('ROLE_COMMON','ROLE_ADMIN')">
                        <a th:href="@{/consumer/account/reset}" target="iframe">
                            <i class="fa fa-key"></i> <span>修改密码</span>
                        </a>
                    </li>

                    <li sec:authorize="hasAuthority('ROLE_ADMIN')">
                        <a th:href="@{/consumer/account/manage}" target="iframe">
                            <i class="fa fa-users"></i> <span>账号管理</span>
                        </a>
                    </li>
                </ul>
            </section>
        </aside>
    </aside>
    <div class="content-wrapper">
        <iframe width="100%" id="iframe" name="iframe" onload="SetIFrameHeight()" frameborder="0" ></iframe>
    </div>
</div>
</body>
</html>